* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #333;
  color: gold;
}

.container > * {
  /* border: 2px solid gold; */
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(3, 200px); */
  justify-content: center;
  align-content: center;
  grid-template-rows: 100px repeat(5, 300px) 150px;
  column-gap: 20px;
  margin: 20px;

  grid-template-areas:
    "hd hd hd"
    "hero hero hero"
    "s1 s2 s2"
    "s3 s3 s4"
    "s5 s6 s6"
    "promo promo promo"
    "footer footer footer";
}

header {
  grid-column-start: 1;
  grid-column-end: -1;

  grid-column: 1 /1;

  grid-column: span 3;

  grid-row-start: 1;
  grid-row-end: 2;
}

header {
  grid-area: hd;
}

.hero {
  grid-area: hero;
  /* justify-self: center;
  align-self: center; */
}

.s1 {
  grid-area: s1;
}
.s2 {
  grid-area: s2;
}
.s3 {
  grid-area: s3;
}
.s4 {
  grid-area: s4;
}
.s5 {
  grid-area: s5;
}
.s6 {
  grid-area: s6;
}
.promo {
  grid-area: promo;
}
footer {
  grid-area: footer;
}

/* PATHS */

header {
  clip-path: polygon(0 0, 100% 0, 100% 80px, 50% 100%, 0 80px);
  animation: moveDown 2s ease-in-out;
}

.hero {
  clip-path: polygon(0 0, 50% 20px, 100% 0, 100% 280px, 0 100%);
}

.s1 {
  clip-path: polygon(0 20px, 100% 13px, 100% 100%, 0 100%);
}

.s2 {
  clip-path: polygon(0 13px, 100% 0, 100% 100%, 0 100%);
}

.promo,
footer,
.s3,
.s4,
.s5,
.s6 {
  margin-top: 20px;
}

@keyframes moveDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
  }
}
